rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /posts/{postId} {
      allow read: if true; // lesen immer erlaubt
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;
    }
  }
}